# --- SYSTEM FILES ---
.DS_Store
Thumbs.db
desktop.ini

# --- IDE / EDITORS ---
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# --- USER DATA / SENSITIVE ---
.env

# --- DEVELOPMENT WORKFLOW ---
*-dev.user.js
*-test.user.js
/temp/
/dist/
node_modules/
dist/

# --- LOGS ---
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*